@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
    background-color: #1e1d2b;
    padding: 0px;
    margin: 0px
}
.headerH1{
    margin-top: 1rem;
    color: #ff702a;
}
header{
    display: flex;
    padding: 0 50px;
    margin: 0px 3rem 0px 3rem;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    justify-content: center;
    border: 2px black solid;
    grid-auto-flow: row;
    width:97%;
    height: max-content;
    text-align-last: left;
}

.mostrar,.ocultar{
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
    transition: 0.4;
}
.mostrar-menu{
    order: 1;
}
.menuHeader a{
    text-decoration: none;
    transition: 0.4s;
}
a:hover{
    border: 1px rgb(0, 240, 160) solid;
}
.home{
    grid-template-columns: 50% 50%;
    margin: 1rem;
    border: 2px black solid;

}
.h1Home{
    font-size: 4rem;
    color: #ff702a;
}
.homeButton{

    background-color: #ff702a;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
}
.homeImage{
    display: flex;
    height: 40%;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#check{
    display: none;
}
.container.aboutus{
    
}
@media(max-width: 768px)
{
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);

    }
    .botonMostrar{
        z-index: 101;
    }
    .menuHeader{
        position: fixed;
        width: 100%;
        height: 60vh;
        left: 100;
        top: -100%;
        right: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menuHeader a{
        display: block;
        padding: 10px;
        background: #2c2b47;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:not(:checked)~ .botonMostrar .ocultar{
        display: inline;
    }
    #check:checked~ .menuHeader{
        top:0;
    }
    #check:checked~ .botonMostrar .mostrar{
        display: inline;
    }
}