@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
    background-color: #1e1d2b;
    padding: 0px;
    margin: 0px;
    font-size: 1.5vw;
}
body{
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    gap: 5rem;
}
.headerH1{
    color: #ff702a;
    font-size: 2vw  ;
}
header{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    opacity: 90%;
    top: 0vh;
    height: 10vh;
}
.container{
    display: flex;
    gap: 7vw;
    margin: 0  auto;
    flex-direction: row;
    grid-auto-flow: row;
    width:100%;
    max-width:400rem;
    height: max-content;
    align-items: start;
    justify-content: center;
}

.mostrar,
.ocultar{
    font-size: 2.5rem;
    display: none; 
    cursor: pointer;
    transition: 0.4;
}
.mostrar-menu{
    order: 1;
}
.menuHeader{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menuHeader a{
    text-decoration: none;
    transition: 0.4s;
}
a:hover{
    border: 1px rgb(0, 240, 160) solid;
}
.home{
    grid-template-columns: 50% 50%;
    margin: 1rem;
    margin-top: 4rem;
    align-items: center;
}
.h1Home{
    font-size: 4vw;
    color: #ff702a;
    width: auto;
}
.texto p{
    font-size: 2vw;
}
.button{
    background-color: #ff702a;
    height: fit-content;
    width: fit-content;
    padding: 0.4rem 1rem 0.4rem 1rem    ;
    cursor: pointer;
}
.imagen{
    display: flex;
    width: 30vw;
    height: auto;
}
.imagen img{
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: right;
    width: auto;
    max-width: 50%;
}
#check{
    display: none;
}
.aboutuspage{
    display: flex;
    flex-direction: row-reverse;
}
.foodmenupage{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    grid-template-rows: 20% 80%;
    gap: 5vh;
}
.texto-foodmenupage{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1vw, 1fr));;
    width: 100%;
}
.texto-foodmenupage p{
    text-align: center;
}
.imgfoodmenuopage{
    width: 100%;
    height: auto;
    padding: 2vw;
    display: flex;
    justify-content: center;
    gap: 8vw;
}
.imagen-food{
    display: flex;
    width:20vw;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 3px black solid;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
}
.imagenServ{
    display: flex;
    width:20vw;
    height: auto;
    flex-direction: column;
    text-align: center;     
    border: 0px;
    width: 21vw;
    box-shadow: 0px 0px 0px 0px;
}
.imagenServ strong{
    font-size: 3vw;
}
.imagenServ p{
    font-size: 1.5vw;
}
.imagen-food img{
    width: 100%;
    height: auto;
    background-color: white;

}
.imagen-food p{
    color: black;
    background-color: white;
    font-size: 2.1vw;
}
.servicepage{
    display: flex;
    flex-direction: column;
}
.recuadro{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3.5vw;
    margin: 0px 6vw 0px 6vw;
    border: 2px black solid;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
}
.recuadro span{
    background-color: white;
    color: black;
    font-size: 3vw;
}
.footerConainer{
    display: flex;
    gap: 5vw;
    flex-direction: row;
}
.footerConainer  a{
    text-decoration: none;
}
.footerConainer  a:hover{
    border: 0px;
}
.footercontent{
    display: flex;
    flex-direction: column;
}
.footercontent hr{
    margin-top: 0.7vw;
    width: 50%;
    border-color: #ff702a;
}
.cirdulocontainer{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.circulo{
    height: 2vw;
    width: 2vw;
    background-color: #ff702a;
    border: 2px solid #ff702a;
    border-radius: 100%;
}
@media(max-width: 768px)
{
    
    .container{
        width: auto;
    }
    .home,.foodmenupage.servicepage{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aboutuspage{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .imagenServ{
        border: 0px;
        width: 21vw;
        box-shadow: 0px 0px 0px 0px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        opacity: 80%;
        height: 8vw;
    }
    .menuHeader{
        position: fixed;
        display: grid;
        place-items:center;
        flex-direction: column;
        width: 100%;
        height:fit-content;
        top: -100%;
        left: 0;
        bottom: 12%;
        right: 0;
        text-align: center;
        padding: 1rem 0px;
        transition: 0.8s;
        background: #2c2b47;

    }
    .menuHeader a{
        padding: 10px;
        background: #2c2b47;
    }
    #check:not(:checked)~ .botonMostrar .ocultar{
        display: inline;
    }
    #check:checked~ .botonMostrar .mostrar{
        display: inline;
    }
    #check:checked~ .menuHeader{
        top: 10%;
    }
    .imgfoodmenuopage{
        display: grid;
        grid-template-columns: 0fr;
        grid-template-rows: repeat(auto-fill, minmax( 1vh, 1fr));
        width: 100%;
    }
    .imagen-food{
        width: 25vw;
        height: auto;
        background-color: white;
    
    }
    .footerConainer{
        display: flex;
        gap: 2vw;
        flex-direction: column;
    }
    .footercontent strong,a  p{
        font-size: 3vw
    }
    .texto-foodmenupage p strong{
        font-size: 3vw;
    }
    .texto{
        display: flex;
        align-content: center;
        text-align: center;
        justify-items: center;
    }
    .button{
        align-self: center;
    }
    .imagenServ p{
        font-size: 2vw;
        width: 30vw;
    }
    .imagenServ{
        width: auto;
        max-width: 30vw;
    }
}